html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}

.container {
    /*background: black;*/
    width: 50%;
}

input[type=number], input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
@media(max-width: 640px) {
    input[type=number], input[type=text], select, textarea {
        width: 42%;
    }
}

label {
    padding: 50px 5px 5px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

p .readonly {
    background-color: darkgray;
}

form, .error {
    /*width: 520px;*/
    /*padding: 10px;*/
    /*margin-bottom: 50px;*/
    /*position: relative;*/
    /*background: white;*/
}

h1 {
  font-weight: bold;
  font-size: large;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

.nav-div .scroll-button {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    font-size: 50px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.nav-div .parallax {
    align-items: center; align-self: center;
    background-attachment: fixed; background-repeat: no-repeat;
    background-size: cover; width: 100%;
}

.card{
    background-color: #e5e0e0;
    box-shadow: 0.4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    opacity: 0.9;
    border-radius: 5px;
    position: center;
    align-self: center;
    align-items: center;
    padding: 10px;
}

.card:hover{
    box-shadow: 0.8px 3px 0 rgba(0,0,0,0.2);
}

.home_float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:280px;
    right:40px;
    background-size: 20px;
    /*background-color:#4CAF50;*/
    background-position: center;
    background-attachment: fixed;
    align-content: center;
    color:#4CAF50;
    /*border-radius:50px;*/
    text-align:center;
    box-shadow: 2px 2px 3px #4CAF50;
    align-items: center;
    background-repeat: no-repeat;
}

.calculation_float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:200px;
    right:40px;
    background-size: 20px;
    /*background-color:#4CAF50;*/
    align-content: center;
    color:#4CAF50;
    /*border-radius:50px;*/
    text-align:center;
    box-shadow: 2px 2px 3px #4CAF50;
    align-items: center;
    background-repeat: no-repeat;
}

.save_float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:120px;
    right:40px;
    background-size: 20px;
    /*background-color:#4CAF50;*/
    align-content: center;
    color:#4CAF50;
    /*border-radius:50px;*/
    text-align:center;
    /*box-shadow: 2px 2px 3px rgba(239, 232, 232, 0.87);*/
    box-shadow: 2px 2px 3px #4CAF50;
    align-items: center;
    background-repeat: no-repeat;
}

.history_float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-size: 100px;
    /*background-color:#4CAF50;*/
    align-content: center;
    color:#4CAF50;
    /*border-radius:50px;*/
    text-align:center;
    box-shadow: 2px 2px 3px #4CAF50;
    align-items: center;
    background-repeat: no-repeat;
}

.my-float{
    size: 40px;
}



