<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome!</title>
    <script src="resources/public/js/mortgag-calculator.js" type="text/javascript"></script>
    <!-- styles -->
    {% style "/assets/bulma/css/bulma.min.css" %}
    {% style "/assets/material-icons/css/material-icons.min.css" %}

    {% style "/css/screen.css" %}
</head>
<body>

<a href="/" class="home_float"></a>

<a href="#calculationForm" class="calculation_float">Calculate</a>

<a href="#saveForm" class="save_float">Save</a>

<a href="#historyForm" class="history_float">History</a>

<section class="nav-img">
    <div class="nav-div">
        <a href="#calculationForm"><span class="scroll-button">↓</span></a>
        <img src="/img/make_money_with_stocks.jpeg" class="parallax"/>
    </div>
</section>

<section class="section">
    <div class="container">
        <form id="calculationForm" method="get" action="/calculation" class="card">
            {% csrf-field %}
            <h1 style="font-weight: bold;font-size: large;">Welcome! Please Make Your Calculation Here</h1><br>
            <p>
                Purchase Price:
                <input type="number" id="calc_purchase_price" name="purchase_price" class="form-control" step="0.01"
                       min="1"
                       style="margin-left: 58px" required><br><br>
            </p>
            <p>
                Deposit Paid:
                <input type="number" id="calc_deposit_paid" name="deposit_paid" class="form-control" step="0.01"
                       min="1"
                       style="margin-left: 75px" required><br><br>
            </p>
            <p>
                Bond Term (Years):
                <input type="number" id="calc_bond_term" name="bond_term" class="form-control" min="1"
                       style="margin-left: 33px" required><br><br>
            </p>
            <p>
                Fixed Interest Rate (%):
                <input type="number" id="calc_fixed_interest_rate" name="fixed_interest_rate" class="form-control"
                       step="0.01" min="1" required><br><br>
            </p>
            <input id="calculate" type="submit" value="Calculate" style="width: 150px">
        </form>
        <hr/>
        <form id="saveForm" method="post" action="/save" class="card">
            {% csrf-field %}
            <h1 style="font-weight: bold;font-size: large;">Here Are Your Results!</h1><br>
            <p>Calculation Name:
                <input type="text" id="calculation_name" name="calculation_name" class="form-control"
                       placeholder="Calculation Name" maxlength="30" style="margin-left: 40px" required><br><br>
            </p>
            <p>Purchase Price:
                <input type="text" id="res_purchase_price" name="res_purchase_price" class="form-control readonly"
                       style="margin-left: 58px" value="{{purchase_price}}" readonly="readonly" required>
                <br><br></p>
            <p>Deposit Paid:
                <input type="text" id="res_deposit_paid" name="res_deposit_paid" class="form-control readonly"
                       style="margin-left: 75px" value="{{deposit_paid}}" readonly="readonly" required>
                <br><br></p>
            <p>Bond Term (Years):
                <input type="text" id="res_bond_term" name="res_bond_term" class="form-control readonly"
                       style="margin-left: 33px" value="{{bond_term}}" readonly="readonly" required><br><br></p>
            <p>Fixed Interest Rate (%):
                <input type="text" id="res_fixed_interest_rate" name="res_fixed_interest_rate"
                       class="form-control readonly" value="{{fixed_interest_rate}}"
                       readonly="readonly" required>
                <br><br>
            </p>
            <p>Monthly Payment:
                <input type="text" id="res_monthly_payment" name="res_monthly_payment" class="form-control readonly"
                       style="margin-left: 40px" value="{{monthly_payment}}" readonly="readonly" required><br><br>
            </p>
            <input type="submit" value="Save" style="width: 150px">
        </form>
        <hr/>
        <form id="historyForm" class="card">
            <h1 style="font-weight: bold;font-size: large;">Previous Calculations</h1>
            <ul class="content">
                {% for item in calculations %}
                <li>
                    <time>
                        <output>{{item.timestamp|date:"yyyy-MM-dd HH:mm"}}</output>
                    </time>
                    <br>
                    <p>Calculation Name:
                        <output>{{item.calculation_name}}</output>
                    </p>
                    <p>Purchase Amount:
                        <output>{{item.purchase_price}}</output>
                    </p>
                    <p>Deposit Paid:
                        <output>{{item.deposit_paid}}</output>
                    </p>
                    <p>Bond Term:
                        <output>{{item.bond_term}}</output>
                    </p>
                    <p>Fixed Interest Rate:
                        <output>{{item.fixed_interest_rate}}</output>
                    </p>
                    <p>Monthly Payment:
                        <output>{{item.monthly_payment}}</output>
                    </p>
                    <hr/>
                </li>
                {% endfor %}
            </ul>
        </form>
    </div>
</section>

<!-- scripts -->
<script type="text/javascript">
    (function () {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();
</script>

{% block page-scripts %}
{% endblock %}
</body>
</html>
